$bg-color: #a1a1a1;
$font: #ffffff;

body {
  background-color: $bg-color;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}

button {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}

#root,
.sceneWrapper {
  width: 100%;
  height: 100%;
}

.startScene {
  display: flex;
  justify-content: center;
  align-items: center;
}

.startGameBtn,
.startAgainBtn {
  position: relative;
  min-width: 35vw;
  height: 15vh;
  font-size: 5vh;
  line-height: 7vh;
  border-radius: 15px;
  padding: 10px;
  color: $font;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  background-position: center center;
  transition: all 300ms;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.startGameBtn {
  background-image: url('../assets/png/buttons/button.png');
}

.startAgainBtn {
  background-image: url('../assets/png/buttons/button2.png');
}

.gameScene {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.gameMain {
  display: grid;
  place-items: center;
  gap: 50px;
  grid-template-areas:
    'progress progress'
    'game   score'
    'game bonuses';
}

.blockScore {
  min-width: 35vh;
  min-height: 35vh;
  background-image: url('../assets/png/score/blockScoreBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $font;
  grid-area: score;
}

.gameProgress {
  text-transform: uppercase;
}

.gameMovesCount {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20vh;
  min-height: 20vh;
  background-image: url('../assets/png/score/movesBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 10px;
  font-size: 8vh;
  line-height: 9vh;
}

.scoreCount {
  text-align: center;
  width: 90%;
  background-image: url('../assets/png/score/scoreBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
  font-size: 4vh;
  line-height: 5vh;
  padding: 10px;
  text-transform: uppercase;
}

.canvas {
  grid-area: game;

  &:hover {
    cursor: pointer;
  }
}

.gameProgress {
  width: 600px;
  height: 140px;
  background-image: url('../assets/png/progressBar/progressBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -25px;
  padding: 10px;
  color: $font;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  grid-area: progress;
}

.progressBarContainer {
  position: relative;
  width: 70%;
  height: 30px;
  background-image: url('../assets/png/progressBar/progressBarBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 2vh auto;
  overflow: hidden;
  border-radius: 20px;
}

.progressBar {
  position: absolute;
  top: 3px;
  left: -100%;
  width: 100%;
  height: 23px;
  background-image: url('../assets/png/progressBar/progressBar.png');
  background-repeat: no-repeat;
  background-size: 100% 23px;
}

.endScene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.resultMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50%;
  background-image: url('../assets/png/score/blockScoreBg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  color: $font;
  font-size: 46px;
  line-height: 56px;
  padding: 50px;
}

.bonusesContainer {
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-areas:
    'title title'
    'bomb   teleport';
  min-width: 15vw;
  min-height: 15vh;
  font-size: 3vh;
  line-height: 4vh;
  color: $font;
  grid-area: bonuses;
}

.bonusesTitle {
  text-align: center;
  text-transform: uppercase;
  grid-area: title;
}

.bombButton,
.teleportButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: transparent;
  background-image: url('../assets/png/bonuses/bonusesBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.bombButton {
  grid-area: bomb;
}

.teleportButton {
  grid-area: teleport;
}

.imageBomb,
.imageTeleport {
  width: 70px;
  height: 70px;
}
